################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Wkhtmltopdf.DotNetCore/.vscode
/src/Wkhtmltopdf.DotNetCore/Tests/.vscode
